.container {
  border: 1px solid black;
  padding: 5px;
}
.component {
  background-color: red;
  padding: 5px;
  margin: 5px;
}
.component.light {
  background-color: #cccccc;
}
.component.dark {
  background-color: #444444;
}
.panel {
  color: red;
}
.panel.light {
  color: #cccccc;
}
.panel.dark {
  color: #444444;
}